body{
    padding: 0;
    margin: 0;

    font-family: 'IBM Plex Mono', monospace;

}
.conteudo-cep{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 100vh;
}
#form-cep{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;

    border: 2px solid antiquewhite;

    box-shadow: 10px 10px 30px #888;

}
input[type="text"]{
    margin: 10px 0;
    height: 30px;
    width: calc(75%);
    background-color: transparent;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #333;
    padding: 0 5px;
    font-size: 14px;
    font-family: 'IBM Plex Mono', monospace;
    
}

input[type="button"]{
    background-color: transparent;
    border: 1px solid #333;
    font-weight: 300;
    margin: 10px 0;
    padding: 8px 48px;
    color: 333;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    
    margin: 30px 0;


}
input[type="button"]:hover{
    background: #333;
    color: antiquewhite;
    transform: scale(1.1);
    font-weight: 700;

}
label{
    margin-top:  10px;
    color: #333;
    font-size: 20px;
}