.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.response-url{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-product{
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.container-product .img-photo{
  width: 200px;
  border-radius: 5px;
}
.container-product h3, .container-product h4 {
  text-align: center;
}
.container-product small{
  display: block;
  margin: 15px 0;
}
.container-product .item-desc{
  width: 200px;
}
.container-product .item-desc p{
  text-align: left;
}